.border{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #99FF66;
    border-radius: 3px 0 3px 0;
}
.border:before,.border:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #99FF66;
    border-radius: 45%;
}
.border:after {
    top:-12px;
    left:-12px;
}
.border:before {
    bottom:-12px;
    right:-12px;
}
.border p {
    margin: 0; 
    padding: 0;
}

.container {
    width: 45vw;
    height: 50vh;
    user-select: none;
  }

.container svg {
pointer-events: none;
}